*{
    font-family: arial;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(62,55,175);
background: linear-gradient(90deg, rgba(62,55,175,1) 17%, rgba(19,51,76,1) 34%, rgba(121,9,43,1) 67%, rgba(179,0,255,1) 90%);
}

h1 {
    color:  #fff;
}

.inicio h1 {
    margin: 2rem;
}

.inicio span {
    display: block;
    border-radius: 2rem;
    color: #fff;
    font-size:  8rem;
    margin-bottom: 1rem;

}

.inicio button {
    padding: 0.5rem 1.0rem;
    border: none;
    background: lightblue;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1.6rem;
}


